appdirs==1.4.3
aspy.yaml==1.1.2
atomicwrites==1.3.0
attrs==18.2.0
certifi==2018.11.29
cfgv==1.4.0
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.2
identify==1.2.1
idna==2.8
importlib-metadata==0.8
importlib-resources==1.0.2
more-itertools==6.0.0
nodeenv==1.3.3
numpy==1.16.1
pandas==0.24.1
pluggy==0.9.0
pre-commit==1.14.3
py==1.8.0
pytest==4.3.0
pytest-cov==2.6.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==4.2b1
requests==2.21.0
six==1.12.0
toml==0.10.0
urllib3==1.24.1
virtualenv==16.3.0
zipp==0.3.3
